{% extends 'layout_index.html' %}

{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}
<div class="col">
  <div class="col-4" style="height:150px;">

  </div>
  <div class="col-4" style="position: absolute;top: 40%;left:8%;">
    <h1 class="loading-text">Plant Robot</h1>
  </div>
  <div class="col-4" style="height:150px;">
  </div>
</div>

{% endblock %}

{% block body %}
<div style="background:rgba(102, 205, 170, 0.3);" id="about">
  <div class="row p-2">
    <div class="col-md-6 my-2" style="padding:25px">
      <div class="card">
        <img src="https://i.imgur.com/TItVY1s.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">使用教學</h5>
          <p class="card-text">不知道該如何使用 Plant Robot 或不知道有什麼功能嗎？</p>
          <a href="{% url 'operation' %}" class="btn btn-info">開始教學</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 my-2" style="padding:25px">
      <div class="card">
        <img src="https://i.imgur.com/N6bonfU.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">植物小知識</h5>
          <p class="card-text">想知道更多關於植物的知識嗎？</p>
          <a href="{% url 'todo:index' %}" class="btn btn-info">閱讀知識</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
