{% extends 'layout_index.html' %}

    {% load bootstrap4 %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {% block title %}
  <div class="jumbotron p-3 p-md-5 text-white rounded" style="background-image: url(https://i.imgur.com/toP0CWg.png); background-repeat: no-repeat;background-size:cover; width: 1110px;height: 525px;">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic"></h1>
      <p class="lead my-3"></p>
      <p class="lead mb-0"></p>
    </div>
  </div>
    {% endblock %}
  
  {% block body %}
  <div style="width:1280px;height:690px;background:rgba(102, 205, 170, 0.3);overflow:hidden" id="about">
      <br>
      <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-3">
          </div>
          <div class="col-6 text-center">
              <font size="6"><a class="nav-link" style="color:#006400">Plant Robot 帶你輕鬆成為綠手指</a></font>
          </div>
          <div class="col-3">
          </div>
      </div>
      <dic class="container">
      <div class="row">
          <div class="col-md-6" style="padding-left:20px;padding-right:0px;">
              <div class="card" style="width: 37rem;margin: 0 auto;border:none;">
                  <img src="https://i.imgur.com/TItVY1s.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">使用教學</h5>
                    <p class="card-text">不知道該如何使用 Plant Robot 或不知道有什麼功能嗎？</p>
                    <a href="#" class="btn btn-info">開始教學</a>
                  </div>
                </div>
          </div>
          <div class="col-md-6" style="padding-left:0px;padding-right:20px;">
              <div class="card" style="width: 37rem;margin: 0 auto;border:none;">
                  <img src="https://i.imgur.com/N6bonfU.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">植物小知識</h5>
                    <p class="card-text">想知道更多關於植物的知識嗎？</p>
                    <a href="#" class="btn btn-info">閱讀知識</a>
                  </div>
                </div>
          </div>
      </div>
      </div>
      
  </div>

  <div style="width:1280px;height:690px;background:rgba(240, 255, 255, 0.7);overflow:hidden" id="team">
      <br>
      <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-3">
          </div>
          <div class="col-6 text-center">
              <font size="6"><a class="nav-link" style="color:#006400">專案團隊</a></font>
          </div>
          <div class="col-3">
          </div>
      </div>
      <div class="container">
        <br>
          <div class="card-deck">
              <div class="card" style="border-radius:10px; background:rgba(175, 238, 238, 0);">
                <br>
                <img src="https://i.imgur.com/ScMFSBE.png" class="card-img-top" style="margin: auto; border-radius:150px; width: 170px;height: 170px;">
                <div class="card-body">
                    <br>
                  <h5 class="card-title">劉巽言</h5>
                  <hr>
                  <p class="card-text">Line bot 端</p>
                  <p class="card-text">資料庫連接</p>
                  </div>
              </div>
              <div class="card" style="border-radius:10px; background:rgba(175, 238, 238, 0);">
                  <br>
                <img src="https://i.imgur.com/ScMFSBE.png" class="card-img-top" style="margin: auto; border-radius:150px; width: 170px;height: 170px;">
                <div class="card-body">
                    <br>
                  <h5 class="card-title">吳雨璇</h5>
                  <hr>
                  <p class="card-text">硬體組裝</p>
                </div>
              </div>
              <div class="card" style="border-radius:10px; background:rgba(175, 238, 238, 0);">
                  <br>
                <img src="https://i.imgur.com/ScMFSBE.png" class="card-img-top" style="margin: auto; border-radius:150px; width: 170px;height: 170px;">
                <div class="card-body">
                    <br>
                  <h5 class="card-title">葉昱彤</h5>
                  <hr>
                  <p class="card-text">Webduino 端</p>
                  <p class="card-text">網頁前端</p>
                  <p class="card-text">網頁後端</p>
                  <p class="card-text">ＭySQL 資料庫建置</p>
                  <p class="card-text">Firebase 資料庫建置</p>
                  <p class="card-text">資料庫連接</p>
                  </div>
              </div>
              <div class="card" style="border-radius:10px; background:rgba(175, 238, 238, 0);">
                  <br>
                  <img src="https://i.imgur.com/ScMFSBE.png" class="card-img-top" style="margin: auto; border-radius:150px; width: 170px;height: 170px;">
                  <div class="card-body">
                      <br>
                    <h5 class="card-title">謝欣汝</h5>
                    <hr>
                    <p class="card-text">硬體組裝</p>                  </div>
                </div>
                <div class="card" style="border-radius:10px; background:rgba(175, 238, 238, 0);">
                    <br>
                    <img src="https://i.imgur.com/ScMFSBE.png" class="card-img-top" style="margin: auto; border-radius:150px; width: 170px;height: 170px;">
                    <div class="card-body">
                        <br>
                      <h5 class="card-title">陳昱妏</h5>
                      <hr>
                      <p class="card-text">硬體組裝</p>
                      </div>
                  </div>
            </div>
      </div>
    </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Featured post</a>
          </h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#">Continue reading</a>
        </div>
        <svg class="bd-placeholder-img card-img-right flex-auto d-none d-lg-block" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Post title</a>
          </h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#">Continue reading</a>
        </div>
        <svg class="bd-placeholder-img card-img-right flex-auto d-none d-lg-block" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        From the Firehose
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Sample blog post</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <hr>
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <h2>Heading</h2>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <pre><code>Example code block</code></pre>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        <ol>
          <li>Vestibulum id ligula porta felis euismod semper.</li>
          <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
          <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
        </ol>
        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">Another blog post</h2>
        <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">New feature</h2>
        <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
      </div><!-- /.blog-post -->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->
{% endblock %}