{% extends 'layout_index.html' %}

{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block body %}
<br>
  <div class="row" style="padding:15px">
  <div class="col-1">
      
    </div>
    <div class="col-10">
          <img src="https://i.imgur.com/TItVY1s.png" class="img-fluid" alt="Responsive image" style="max-width: 100%;">
    </div>
  <div class="col-1">
      
    </div>
  </div>
  <br>

  <br>
  <div class="row">
  <div class="col-1">
    </div>
    <div class="col-10">
      <div class="row">

    <div class="col-7">
      <img src="https://i.imgur.com/FUhU6zQ.jpg" class="img-fluid" alt="Responsive image" style="max-width: 100%;">
    </div>

    <div class="col-5">
    <br>
    <br>
      <p style="font-size:18px;">輸入任意字，即可開始設定裝置<p>
    </div>

  </div>
    </div>
  <div class="col-1">
    </div>
</div>
<br>
<br>
    <br>
<div class="row">
  <div class="col-1">
    </div>
    <div class="col-10">
      <div class="row">

    <div class="col-5" style="padding-right:0px;padding-left:8px">
    <br>
    <br>
      <p style="font-size:18px;">輸入Ｗebduino 裝置 ID<p>
    </div>

    <div class="col-7">
      <img src="https://i.imgur.com/t30Zhqi.jpg" class="img-fluid" alt="Responsive image" style="max-width: 100%;">
    </div>

  </div>
    </div>
  <div class="col-1">
    </div>
</div>
<br>
<br>
    <br>
<div class="row">
  <div class="col-1">
    </div>
    <div class="col-10">
      <div class="row">

    <div class="col-7">
      <img src="https://i.imgur.com/pbqlWBM.jpg" class="img-fluid" alt="Responsive image" style="max-width: 100%;">
    </div>

    <div class="col-5" style="vertical-align：middle">
    <br>
    <br>
      <p style="font-size:18px;">在下方按鈕中選擇您的植物<p>
    </div>

  </div>
    </div>
  <div class="col-1">
    </div>
</div>
<br>
<br>
    <br>
<div class="row">
  <div class="col-1">
    </div>
    <div class="col-10">
      <div class="row">

    <div class="col-5" style="vertical-align：middle">
    <br>
    <br>
      <p style="font-size:18px;">到這邊即完成設定了<p>
    </div>

    <div class="col-7">
      <img src="https://i.imgur.com/5TIaPqn.jpg" class="img-fluid" alt="Responsive image" style="max-width: 100%;">
    </div>
    
  </div>
    </div>
  <div class="col-1">
    </div>
</div>
<br>
<br>
    <br>
<div class="row">
  <div class="col-1">
    </div>
    <div class="col-10">
      <div class="row">

    <div class="col-7">
      <img src="https://i.imgur.com/fruAmEa.jpg" class="img-fluid" alt="Responsive image" style="max-width: 100%;">
    </div>

    <div class="col-5" style="vertical-align：middle">
    <br>
    <br>
      <p style="font-size:18px;">選擇『如何照顧我』觀看相關植物知識</p>
    </div>

  </div>
    </div>
  <div class="col-1">
    </div>
</div>
<br>
<br>
    <br>
<div class="row">
  <div class="col-1">
    </div>
    <div class="col-10">
      <div class="row">

    <div class="col-5" style="vertical-align：middle">
    <br>
    <br>
      <p style="font-size:18px;">點選連結即可進入知識網<p>
    </div>

<div class="col-7">
      <img src="https://i.imgur.com/BgDd4TQ.jpg" class="img-fluid" alt="Responsive image" style="max-width: 100%;">
    </div>

  </div>
    </div>
  <div class="col-1">
    </div>
</div>
<br>
<br>
    <br>
<div class="row">
  <div class="col-1">
    </div>
    <div class="col-10">
      <div class="row">

    <div class="col-7">
      <img src="https://i.imgur.com/2RwDy86.jpg" class="img-fluid" alt="Responsive image" style="max-width: 100%;">
    </div>

    <div class="col-5" style="vertical-align：middle">
    <br>
    <br>
      <p style="font-size:18px;">亦可選擇『重新選擇我』重新設定</p>
    </div>

  </div>
    </div>
  <div class="col-1">
    </div>
</div>
<br>

{% endblock %}
