{% extends 'layout_index.html' %}

{% load bootstrap4 %}

{% block body %}
<br>
<div class="row" style="padding:0px;">
  <div class="col-6 offset-3" style="padding:0px;">
    <h3>註冊會員資料</h3>
    <br>
    <form action="" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-info" style="float:left">
        確定
      </button>
      {% endbuttons %}
    </form>
    &nbsp;&nbsp;
    <a class="btn btn-outline-info" href="{% url 'index' %}" role="button">取消</a>
  </div>
</div>
{% endblock %}
