{% extends 'layout_post.html' %}

{% load bootstrap4 %}

{% block body %}
<h1>修改文章</h1>
<br>
    <div class="row">
        <div class="col">
                <form action="" method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <br>
                      <button type="submit" class="btn btn-info">
                        修 改
                      </button>
                    {% endbuttons %}
                </form>
        </div>
    </div>
{% endblock %}