{% extends 'layout_index.html' %}

{% block body %}
<div class="row">
  <div class="col-8 offset-2">
    <div class="row">
      <div class="col-12">
        <br>
        <h3>知識文章列表</h3>
        <br>

        <!-- Search and Filter -->
        <div class="form-row">
          <form class="form-inline">
            <div class="col-12">

              <div class="input-group">
                <!-- Search -->
                <input type="text" name="title" class="form-control" placeholder="搜尋文章" value={{request.GET.title}}>
                <!-- Filter -->
                <select class="custom-select" name="category">

                  <!-- No select -->
                  <option value="" {% if request.GET.category %}selected{% endif %}>所有類別</option>

                  <!-- Generate selection -->
                  {% for category in filter.filters.category.queryset %}
                  {% with category.pk|slugify as str_pk %}
                  <option value="{{category.pk}}" {% ifequal request.GET.category str_pk %}selected{% endifequal %}>{{category.name}}</option>
                  {% endwith %}
                  {% endfor %}

                </select>

                <div class="input-group-append">
                  <button class="btn btn-outline-info" type="submit">搜尋</button>
                </div>

              </div>
            </div>
          </form>
        </div>

        <!-- List -->
        <div class="list-group list-group-flush">
        <br>
          {% for todo in todos %}
          <a href="{% url 'todo:show' todo.pk %}" class="list-group-item list-group-item-action">{{todo.title}}</a>
          {% empty %}
          <a href="#" class="list-group-item list-group-item-action disabled">目前沒有文章 !</a>
          {% endfor %}
          <br>
        </div>

      </div>
    </div>
    {% if request.user.is_authenticated %}
    <div class="row float-right">
      <div class="col my-2">
        <a href="{% url 'todo:new' %}" class="btn btn-outline-success">新增文章</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
