{% extends 'layout_index.html' %}

{% load bootstrap4 %}

{% block body %}
<div class="row">
  <div class="col-md-8 offset-md-2 col-xs-12">
    <br>
    <h1>新增文章</h1>
    <br>
    <form action="" method="post" class="form"  enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <br>
      <div class="row float-right">
        <div class="col my-2">
          <button type="submit" class="btn btn-info">
            新 增
          </button>
        </div>
      </div>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
