{% extends 'layout_index.html' %}

{% load bootstrap4 %}

{% block body %}
<div class="col-md-8 offset-md-2">
  <br>
  <div class="row">
    <div class="col-8"><h2>{{post.title}}</h2></div>
    <div class="col-4">
      
    </div>
  </div>

  <div class="row">
    <div class="col-12">
     <span class="float-left">{{ post.pub_date }}</span>
      <span class="float-left">&nbsp;&nbsp; #{{ post.category }}</span>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-12">
      <img src="{{post.image.url}}" style="max-width: 100%;"/>
      <br><br>
      <p>
        {{ post.body | linebreaks }}
      </p>
    </div>
  </div>

  {% if request.user.is_authenticated %}
  <br>
  <div class="row float-right">
    <div class="col my-2">
      <a class="btn btn-outline-info" href="{% url 'todo:edit' post.pk %}" role="button">修 改</a>
      &nbsp&nbsp&nbsp
      <a class="btn btn-outline-danger" href="{% url 'todo:delete' post.pk %}" role="button">刪 除</a>
    </div>
  </div>


  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  {% endif %}
  <br><br><br>
</div>
{% endblock %}
